html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(90deg, #5e71e4 0%, #825ee4 100%);
	height: calc(100% - 150px);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	height: 100%;
}

td {
	min-width: 90px;
}
